body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

.wrapper {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.header {
  text-align: center;
}

.logo {
  font-size: 50px;
  font-family: "BillabongW00-Regular", "Arial";
}

h2 {
  text-align: center;
}

button.fb-login {
  background-color: #3897f0;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.or {
  text-align: center;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #3897f0;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #3897f0;
}
